.idea/
About_page/
Processing_Exercises/
README.md
connect_to_db.py
json/
keys.sh
million_song_dbase/
planning/
result_structure.txt
venv/
get_song_data.pyc
model.pyc
pseudocode.txt
section_collapse_play.py
Other_Audio_Snowflake_Stuff/
api_calls.pyc
get_echonest_id.py
seed.py
seed.pyc
add_to_db.pyc
