Flask==0.10.1
Flask-Bootstrap==3.3.0.1
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
Werkzeug==0.9.6
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
colour==0.0.6
gnureadline==6.3.3
ipython==2.3.0
itsdangerous==0.24
oauthlib==0.7.2
psycopg2==2.5.4
python-dateutil==2.2
python-twitter==2.0
pytz==2014.9
pyzmq==14.4.1
requests==2.4.3
requests-oauthlib==0.4.2
simplejson==3.6.5
six==1.8.0
spotipy==2.1.0
tornado==4.0.2
wsgiref==0.1.2
