Flask==0.10.1
Flask-WTF==0.10.3
Jinja2==2.7.3
MarkupSafe==1.1.1
SQLAlchemy==0.9.8
WTForms==2.0.1
Werkzeug==1.0.0
argparse==1.2.1
itsdangerous==1.1.0
psycopg2==2.5.4
requests==2.4.3
spotipy==2.1.0
wsgiref==0.1.2
