Flask==0.10.1
Flask-Bootstrap==3.3.0.1
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
Werkzeug==0.9.6
itsdangerous==0.24
requests==2.4.3
spotipy==2.1.0
wsgiref==0.1.2

ipython==2.3.0
numpy==1.9.1
pandas==0.15.1
pytz==2014.9
pyzmq==14.4.1
tornado==4.0.2
