body {
    background-color: black;
    color: white;
    width: 50%;
/*    margin-right: auto;
    margin-left: auto;*/
}

input {
    color: black;
}

  #bottom_right_box {
    position: fixed
    bottom: 0;
    right: 0;
  }

  #artist_name {
    position: absolute;
    bottom: 160px;
    right: 0;
  }

  #song_title {
    position: absolute;
    bottom: 0px;
    right: 0;
  }

  #web_player {
    position: absolute;
    bottom: 0;
    right: 0;
  }
