
body {
    background-color: black;

}

a:hover {
  color: #bebab3;
}

img {
  width: 300px; 
  height: 300px;
  padding-bottom: 0.5em;
  border-color: white;

}
figure {
  display: inline-block;
}
figcaption {
  color: #bebab3;
  font-family: "Didot", serif;
  width: 300px;
  text-align: center;
  font-size: 120%;
}

.breadcrumb {
  background-color: black;
  font-size: 100%;
  position: fixed;
  right: 0;
}

.breadcrumb .active {
  color: white;
}
