body {
    background-color: black;
    color: white;
    width: 50%;
}

  .breadcrumb {
    background-color: black;

    position: fixed;
    right: 0;
  }

  .breadcrumb .active {
    color: white;
  }
  
input {
  background-color: white;
  color: black;
}

  #bottom_right_box {
    position: fixed
    bottom: 0;
    right: 0;
  }

  #artist_name {
    position: absolute;
    bottom: 160px;
    right: 0;
  }

  #song_title {
    position: absolute;
    bottom: 140px;
    right: 0;
  }

  #enter_button {
    position: absolute;
    bottom: 100px;
    right: 0;
  }
  #web_player {
    position: fixed;
    bottom: 0;
    right: 0;
  }
