


a {
  color: #FFFFFF;
}

a:hover {
  color: #bebab3;
  font-weight: bold;
}

.breadcrumb a {
  color: #bebab3;
}

.breadcrumb {

  background-color: black;
  font-family: "Didot", serif;
  font-size: 20px;
  position: fixed;
  left: 0;
}

.breadcrumb .active {
  color: white;
}

body {

    background-repeat: no-repeat;
    background-color: black;
    color: #bebab3;
    text-align: left;
    font-family: "Helvetica", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 20px;
}
h1 {
  color: #e7e6e3;
  font-family: "Didot", serif;
}

h2 {
  color: #e7e6e3;
  
  font-family: "Didot", serif;
}

h4 {
  color: #e7e6e3;
  font-family: "Didot", serif;
}

#text {
  margin-left: 25%
}

em {
  color: white;
}
.container-fluid {
  margin-top: 30px;
  margin-right: 0;
  margin-left: 0;
}

.col-md-4 {
  border-radius: 10px;

}

.col-md-4 p {
  color: #bebab3;
  font-size: 20px;
  float: top-right;
}




p {
  color: #b1aca3;
  text-align: left;
  /*font-size: 24px;*/

}

#credit {
  color: #b1aca3;
  font-size: 14px;
  text-align: right;
  padding-bottom: 0px;
}