
body {
    background-color: black;
    display: inline-block;
}

a:hover {
  color: #bebab3;
}

figcaption {
  color: #bebab3;
  font-family: "Didot", serif;
  width: 200px;
  text-align: center;
}

.breadcrumb {
  background-color: black;
  font-size: 20px;
  position: fixed;
  right: 0;
}

.breadcrumb .active {
  color: white;
}
