<!DOCTYPE html>
<head>
    <meta charset=utf-8 />
    <meta name="description" content="About page for music visualizer that maps song data to hypotrochoids and epitrochoids."/> 
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Audio Snowflake</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon"/>
    
    <link href="/static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css".>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../static/js/processing-1.3.6.min.js"></script>
    <script type="text/javascript" src="../static/js/init.js"></script>
</head>

<body>

  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">About</li>
 
  </ul>

  <p>
    Lorem ipsum dolor sit amet, sea facilis evertitur conceptam in, eu nec epicuri tractatos. Pro modo quaeque partiendo ea, ut agam consetetur pri, sumo reprimique cum an. Ei sea facete quodsi delicatissimi. Eum id enim natum adversarium, mea no quot option delenit. Agam docendi qui an. Cu his maiorum tractatos, et noster vocent sensibus quo. Ea sed enim molestie inciderint.

    Eu case consul lobortis qui. Ne est impetus liberavisse. Ut nec natum novum similique, case ceteros maluisset has ea. Qui ad quem ancillae noluisse. Ei mucius instructior vim, vel cu possit voluptatum.

    Eu vix dico autem, pro equidem insolens torquatos at, aliquid moderatius et qui. Mel animal lobortis tractatos at, sed ea option postulant, at idque inani propriae eam. Veniam eripuit suscipit vis at, vel et dolor dicant nostrum. Mel dolor malorum in. Sea eius sententiae ne. Te quo labitur interpretaris, et sea ornatus dolorem accumsan. Cu has mnesarchum percipitur ullamcorper, dicam cetero inermis pri no.

    Inani nihil invenire usu in. Vix ex nobis percipit, mei audiam persius ea. Facer prompta definiebas ea vix, labore phaedrum est in, ius unum fugit platonem te. Nec ad torquatos inciderint. Cu usu solum postea utamur, has an omnesque imperdiet sententiae.

    Cu erat nostro vis. Mel ne reprimique adversarium, illum iriure imperdiet qui te. Mea ne oratio audire explicari. Virtute impedit eam at, deterruisset signiferumque sed eu. Eos ne modo antiopam comprehensam, at mundi abhorreant quo, possim repudiandae et eam.
  <p>
    <img width="162" height="162" src="/static/images/HypotrochoidDiagram1.eps" class="center-image" alt="HypotrochoidDiagram1">
    <img src="/static/images/hypotroc1.gif" class="center-image" width="200" height="200" alt="Hypotrochoid">
</body>
</html>