{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="../static/css/style_index.css">
{% endblock stylesheet %}

{% block style %}
     <style>
        canvas {
            -webkit-transition-duration: {{ track.rotation_duration }}s;
            -moz-transition-duration: 0s;


            -webkit-animation-duration: {{ track.rotation_duration }}s; 
            -moz-animation-duration: {{ track.rotation_duration }}s;
        }
    </style>
{% endblock style %}


{% block breadcrumb %}
  <ul class="breadcrumb">
    <li class="active">Home</li>
    <li><a href="/about">About</a></li>
    <li><a href="/gallery">Gallery</a></li>
  </ul>
{% endblock breadcrumb %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

    <div id="canvas_container">
    <canvas id="snowflake" data-processing-sources="../static/processing/snowflake/snowflake.pde"></canvas>
    </div>
    
    {% if track %}
    <div id="box1">
      <div class="container">
                
        <div class="row">
          <div class="col-sm-4">
            <p>Song duration: {{ track.duration|int }} seconds</p>
            <p>Song tempo: {{ track.tempo|int }} beats per minute</p>
            <p>Song energy + valence: {{ track.energy + track.valence }}</p>
            <br>
            <br>
          </div>
        </div>

        {% for section in sections %}
        <div class="row">
          <div class="col-sm-4 section-legend">

            <div class="rect" style="background-color:hsla({{section.hsla[0] }}, {{ section.hsla[1] }}%, {{ section.hsla[2]}}%, {{ section.hsla[3] }})"></div>

            <p>Duration: {{ section.duration }} seconds
            </p>
            
            {% if section.key == 0 and section.mode == 0 %} 
            <p>Key: C minor</p>
            
            {% elif section.key == 0 and section.mode == 1 %}
            <p>Key: C major</p>
            
            {% elif section.key == 1 and section.mode == 0 %}
            <p>Key: C♯ minor</p>
            
            {% elif section.key == 1 and section.mode == 1 %}
            <p>Key: C♯ major</p>
            
            {% elif section.key == 2 and section.mode == 0 %}
            <p>Key: D minor</p>
            
            {% elif section.key == 2 and section.mode == 1 %}
            <p>Key: D major</p>
            
            {% elif section.key == 3 and section.mode == 0 %}
            <p>Key: E♭ minor</p>
            
            {% elif section.key == 3 and section.mode == 1 %}
            <p>Key: E♭ major</p>
            
            {% elif section.key == 4 and section.mode == 0 %}
            <p>Key: E minor</p>
            
            {% elif section.key == 4 and section.mode == 1 %}
            <p>Key: E major</p>
            
            {% elif section.key == 5 and section.mode == 0 %}
            <p>Key: F minor</p>
            
            {% elif section.key == 5 and section.mode == 1 %}
            <p>Key: F major</p>
            
            {% elif section.key == 6 and section.mode == 0 %}
            <p>Key: F♯ minor</p>
            
            {% elif section.key == 6 and section.mode == 1 %}
            <p>Key: F♯ major</p>
            
            {% elif section.key == 7 and section.mode == 0 %}
            <p>Key: G minor</p>
            
            {% elif section.key == 7 and section.mode == 1 %}
            <p>Key: G major</p>
            
            {% elif section.key == 8 and section.mode == 0 %}
            <p>Key: A♭ minor</p>
            
            {% elif section.key == 8 and section.mode == 1 %}
            <p>Key: A♭ major</p>
            
            {% elif section.key == 9 and section.mode == 0 %}
            <p>Key: A minor</p>
            
            {% elif section.key == 9 and section.mode == 1 %}
            <p>Key: A major</p>
            
            {% elif section.key == 10 and section.mode == 0 %}
            <p>Key: B♭ minor</p>
            
            {% elif section.key == 10 and section.mode == 1 %}
            <p>Key: B♭ major</p>
            
            {% elif section.key == 11 and section.mode == 0 %}
            <p>Key: B minor</p>
            
            {% elif section.key == 11 and section.mode == 1 %}
            <p>Key: B major</p>

            {% endif %}

            <p>Loudness: {{ section.loudness }}</p>
          
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
    {% endif %}

    <div id="box2">
      <div id="bottom_right_box" class="container">

        <div class="row" id="saved_flash" type="hidden">
            <div class="col-sm-4">
            Snowflake added to gallery.
            </div>
        </div>

        <form id="get_snowflake" class="form-horizontal" role="form" action="/get_patterns" method="GET" >
          <div class="form-group">
            <div class="row">
            <div class="col-sm-4" id="artist_name"><input type="text" placeholder="Enter artist" name="artist_name"></div>
            </div>
            <div class="row">
            <div class="col-sm-4" id="song_title"><input type="text" placeholder="Enter song" name="title"></div>
            </div>
            <div class="row">
            <div class="col-sm-4" id="enter_button">
              <input type="submit" value="Get Snowflake" class="btn btn-custom">
            </div>
          </div>
          </div>
        </form>
        
        <div id="web_player">
          {% if track %}
          <iframe src="https://embed.spotify.com/?uri={{ track.spotify_track_uri }}" width="250" height="80" frameborder="0" allowtransparency="true"></iframe>
          <span id="patterns" type="hidden" data-patterns="{{ track.patterns }}"></span>
          {% else %}
          <div id="error">I'm sorry, that song is not available.<br>Please try a different song.</div>
          {% endif %}
        </div>

        <div class="row">
          <div class="col-sm-4" id="save-button">

            <form enctype="multipart/form-data" action="/add_snowflake" method="POST">
                {% if form %}

                {{ form.hidden_tag() }}

                {% endif %}            
                <input type="hidden" id="artist_name2" name="artist_name" value="{{ track.artist_name }}">
                <input type="hidden" id="title2" name="title" value="{{ track.title }}">
                <input type="hidden" id="song_id2" name="song_id" value="{{ track.song_id }}">

                <input type="hidden" id="add_button" value="Add Snowflake to Gallery" class="btn btn-custom">
            </form>

          </div>
        </div>
            
        <img src="../static/images/echonest_logo.gif" alt="Logo: Powered by the Echo Nest">

      </div>
    </div>
{% endblock content %}

{% block js %}
<script src="../static/js/snowflake.js"></script>
{% endblock js %}