<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8 />

    <title>Audio Snowflake</title>
    <link href="/static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../static/js/processing-1.3.6.min.js"></script>
    <script type="text/javascript" src="../static/js/init.js"></script>
</head>

<body>

    <script type="application/processing">
    /* A hypotrochoid is a roulette traced by a point P 
    attached to a circle of radius b rolling around the 
    inside of a fixed circle of radius a, where P is a 
    distance h from the center of the interior circle. 
    The parametric equations for a hypotrochoid are

    x  =  ((a-b) * cos(t)) + (h * cos(((a-b)/b) * t))  
    y  =  ((a-b) * sin(t)) - (h * sin(((a-b)/b) * t))
    */


    float a = screen.height/2 + 100;
    float b = screen.height/4 - 10;
    float t = 45;
    float h = b - 2;

void setup() {
 size(screen.width, screen.height);
background(0);
      smooth();

}
    void draw() {
      //rotate(PI/8);

      stroke(#F5E69C, 100);
      float x  =  ((a-b) * cos(t)) + (h * cos(((a-b)/b) * t)) + 300;  
      float y  =  ((a-b) * sin(t)) - (h * sin(((a-b)/b) * t)) + 300;
      ellipse(x, y, 1, 1);

      stroke(#EDAB54, 60);
      h -= 20;
      x  =  ((a-b) * cos(t)) + (h * cos(((a-b)/b) * t)) + 300;  
      y  =  ((a-b) * sin(t)) - (h * sin(((a-b)/b) * t)) + 300;
      ellipse(x, y, 1, 1);
      h += 20;

      stroke(#115BF5, 100);
      h -= 60;
      x  =  ((a-b) * cos(t)) + (h * cos(((a-b)/b) * t)) + 300;  
      y  =  ((a-b) * sin(t)) - (h * sin(((a-b)/b) * t)) + 300;
      ellipse(x, y, 1, 1);
      h += 60;

      stroke(#2BFA75, 100);
      h += 60;
      x  =  ((a-b) * cos(t)) + (h * cos(((a-b)/b) * t)) + 300;  
      y  =  ((a-b) * sin(t)) - (h * sin(((a-b)/b) * t)) + 300;
      ellipse(x, y, 1, 1);
      h -= 60;
      
      stroke(#FF2727, 40);
      h -= 160;
      x  =  ((a-b) * cos(t)) + (h * cos(((a-b)/b) * t)) + 300;  
      y  =  ((a-b) * sin(t)) - (h * sin(((a-b)/b) * t)) + 300;
      ellipse(x, y, 1, 1);
      h += 160;
     
      stroke(#272FFF, 70);
      h += 170;
      x  =  ((a-b) * cos(t)) + (h * cos(((a-b)/b) * t)) + 300;  
      y  =  ((a-b) * sin(t)) - (h * sin(((a-b)/b) * t)) + 300;
      ellipse(x, y, 1, 1);
      h -= 170;

      t += .1;



// Math on guilloche
// Post  guilloche on 5/17/2012, 9:37 am

// The following basic hypertrochoid equations makes a nice rosette:
// x = (R+r)cos(t)+(r+p)cos(t*(R+r)/r)
// y = (R+r)sin(t)-(r+p)sin(t*(R+r)/r)

// We can extend the above equations to have more options:
// x = (R+r)cos(m*t)+(r+p)cos(m*t*(R+r)/r) + Q*cos(n*t)
// y = (R+r)sin(m*t) - (r+p)sin(m*t*(R+r)/r) + Q*sin(n*t)

// You can test all above or other equations with Torapp guilloche designer.
}

    </script>
<canvas></canvas>

        <div id="song_entry">
            <form action="/new_song" method="GET">
                <label for="artist_name">Artist name:</label>
                <input type="text" name="artist_name">
                <label for="title">Song title:</label>
                <input type="text" name="title">
                <input type="submit" value="Enter">
            </form>
        <div>


        <div id="song_credit">
          <iframe src="https://embed.spotify.com/?uri={{ spotify_track_id }}" width="250" height="80" frameborder="0" allowtransparency="false"></iframe>
        <div>
    </body>
</html>