<!DOCTYPE html>
<html>
<head>
    <script src="processing-1.3.6.min.js"></script>
    <meta charset=utf-8 />
<title>Audio Snowflake</title>
<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
    <style>
    </style>
    <canvas data-processing-sources="../first_stab/first_stab.pde"></canvas>

    <div id="song_entry">
        <form action="/song_entry" method="POST">
            <label for="title">Enter song title</label>
            <input type="text" name="title">

            <input type="submit" value="Enter">
        </form>
    <div>
</html>